<br> <br>

<div class="row" style="color: lightgray">
  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 eventi card" style="background-color: #263238">
    <div class="service_item card-image">
      <div><i class="material-icons" style="font-size: 300%; margin-left: 0%; color: #26A69A">restaurant</i> </div>
      <!-- <img src="img/services/s1.png" alt=""> -->
      <h4 style="font-family: 'Cormorant SC', serif;">Catering Privato</h4>
      <em>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
        brought fish forth</em> <br><br>
      <!-- <a href="#" class="primary_btn2 mt-35">Learn More</a> -->
      <a class="waves-effect waves-light light-blue btn"><i class="material-icons left"
          style="margin: 5px;">local_phone</i>Chiamaci</a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 card" style="background-color: #263238">
    <div class="service_item card-image">
      <div><i class="material-icons" style="font-size: 300%; margin-left: 0%; color: #26A69A">school</i> </div>
      <!-- <img src="img/services/s2.png" alt=""> -->
      <h4 style="font-family: 'Cormorant SC', serif;">Festa di Laurea</h4>
      <em>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
        brought fish forth</em> <br><br>
      <!-- <a href="#" class="primary_btn2 mt-35">Learn More</a> -->
      <a class="waves-effect waves-light light-blue btn"><i class="material-icons left"
          style="margin: 5px;">local_phone</i>Chiamaci</a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 card" style="background-color: #263238">
    <div class="service_item card-image">
      <div><i class="material-icons" style="font-size: 300%; margin-left: 0%; color: #26A69A">local_bar</i> </div>
      <!-- <img src="img/services/s3.png" alt=""> -->
      <h4 style="font-family: 'Cormorant SC', serif;">Happy Hour</h4>
      <em>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
        brought fish forth</em> <br><br>
      <!-- <a href="#" class="primary_btn2 mt-35">Learn More</a> -->
      <a class="waves-effect waves-light light-blue btn"><i class="material-icons left"
          style="margin: 5px;">local_phone</i>Chiamaci</a>
    </div>
  </div>
</div>


<div>
  <div class="row">
    <div class="col lg-4" id="uno"></div>
    <div class="col lg-4" id="due"></div>
    <div class="col lg-4" id="tre"></div>
  </div>
</div> <br> <br>