<nav class="nav nav-pills nav-justified #263238 blue-grey darken-4" style="font-family: 'Cormorant SC'">
    <a class="nav-item nav-link waves-effect waves-light btn" style="font-size: 150%; padding: 5px;" routerLink="">Home</a>
    <a class="nav-item nav-link waves-effect waves-light btn" style="font-size: 150%; padding: 5px;" routerLink="menu">Menù</a>
    <a class="nav-item nav-link waves-effect waves-light btn" style="font-size: 150%; padding: 5px;" routerLink="eventi">Eventi</a>
  </nav>

  <br><br>
<div style="text-align: center; color: lightgray">
  <span style="font-family: 'Cormorant SC', serif; font-size: 200%">
    Scopri il gusto sfizioso del Bacaro e delle specialità veneziane... <br>
    adoriamo la filosofia dello ‘sbeccolare’: e il nostro menù è figlio di questa filosofia
  </span> <br><br>
</div>
<!-- <li><a class="waves-effect waves-light btn">Menù <i class="material-icons right">specialità</i></a></li>
     <li><a class="waves-effect waves-light btn">Gallery <i class="material-icons right">Eventi</i></a></li> -->
       <!-- <li><a class="waves-effect waves-light btn-large">Large Button</a></li> -->


<!-- <nav>
  <div class="nav-wrapper #263238 blue-grey darken-4">
    <a href="#!" class="brand-logo">BACARO Bar & Cucina</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn" style="font-size: 25px;">Home</a></li>
      <li><a class="waves-effect waves-light btn" style="font-size: 25px;">Menù</a></li>
      <li><a class="waves-effect waves-light btn" style="font-size: 25px;">Gallery</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a class="waves-effect waves-light btn" style="font-size: 25px;">Home</a></li>
  <li><a class="waves-effect waves-light btn" style="font-size: 25px;">Menù</a></li>
  <li><a class="waves-effect waves-light btn" style="font-size: 25px;">Gallery</a></li>
</ul> -->

